{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block section %}
    <section class="promo">
        <div class="promo__singer">
            <div class="container">
                <div class="promo__singer_block">
                    <div class="promo__singer_data">
                        <div class="promo__singer_info">
                            <div class="promo__singer_title">Miyagi & Andy Panda</div>
                            <div class="promo__singer_song">All the time</div>
                            <div class="promo__singer_rating">Rating: 4.6</div>
                            <div class="promo__singer_add">Added: 2022-03-14-17:54</div>
                        </div>
                        <img class="promo__singer_logo" src="static/img/song_logo/all_the_time.jpg" alt="">
                    </div>
                    <div class="promo__singer_buttons">
                        <button>Play online</button>
                        <button>Download</button>
                    </div>
                </div>
                <div class="promo__singer_others">
                    <div class="promo__singer_arrow left">
                        <i class="fas fa-chevron-circle-left"></i>
                    </div>
                    <div class="promo__singer_list">
                        <a href="#" class="promo__singer_list_link">
                            <div class="promo__section_item promo__singer_list_item"
                                 style="background: url('/static/img/singers/miyagi panda.jpg')center center/cover">
                                <div class="promo__section_data">
                                    <div class="promo__section_data_name">Miyagi & Andy Panda</div>
                                    <div class="promo__section_data_album">Albums: 12</div>
                                    <div class="promo__section_data_musics">Musics: 150</div>
                                    <div class="promo__section_data_rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <audio hidden src="/static/musics/Andy_Panda_-_Orange_Sunset.mp3"></audio>
                        </a>
                        <a href="#" class="promo__singer_list_link">
                            <div class="promo__section_item promo__singer_list_item"
                                 style="background: url('/static/img/singers/jony.jpg')center center/cover">
                                <div class="promo__section_data">
                                    <div class="promo__section_data_name">Jony</div>
                                    <div class="promo__section_data_album">Albums: 8</div>
                                    <div class="promo__section_data_musics">Musics: 50</div>
                                    <div class="promo__section_data_rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="promo__singer_list_link">
                            <div class="promo__section_item promo__singer_list_item"
                                 style="background: url('/static/img/singers/miyagi panda.jpg')center center/cover">
                                <div class="promo__section_data">
                                    <div class="promo__section_data_name">Miyagi & Andy Panda</div>
                                    <div class="promo__section_data_album">Albums: 12</div>
                                    <div class="promo__section_data_musics">Musics: 150</div>
                                    <div class="promo__section_data_rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="#" class="promo__singer_list_link">
                            <div class="promo__section_item promo__singer_list_item"
                                 style="background: url('/static/img/singers/rauffaik_pic.jpg')center center/cover">
                                <div class="promo__section_data">
                                    <div class="promo__section_data_name">Rauf & Faik</div>
                                    <div class="promo__section_data_album">Albums: 10</div>
                                    <div class="promo__section_data_musics">Musics: 130</div>
                                    <div class="promo__section_data_rate">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="promo__singer_arrow right">
                        <i class="fas fa-chevron-circle-right"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="promo__music">
            <div class="container">
                <nav>
                    <ul>
                        <li><a href="">Popular Musics</a></li>
                        <li><a href="">New Musics</a></li>
                        <li><a href="">Expedita, odit?</a></li>
                        <li><a href="">Optio, vitae.</a></li>
                        <li><a href="">In, perferendis?</a></li>
                    </ul>
                </nav>
                <div class="promo__music_list">

                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                    <div class="promo__music_item">
                        <div class="promo__music_icon"><i class="fas fa-play-circle"></i></div>
                        <div class="promo__music_icon"><i class="fas fa-download"></i></div>
                        <div class="promo__music_img"><img src="static/img/song_logo/all_the_time.jpg" alt=""></div>
                        <div class="promo__music_info"><span><a href="">Miyagi & Andy Panda</a></span>All the time</div>
                        <div class="promo__music_duration">04:30</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
    <div class="container">
        <div class="footer__block">
            <div class="footer__block__controls">
                <i class="fas fa-chevron-circle-left"></i>
                <i class="fas fa-play-circle"></i>
                <i class="fas fa-chevron-circle-right"></i>
            </div>
            <div class="footer__block__music">
                <div class="footer__block__music_list">
                    <div class="footer__block__music_duration">0:00</div>
                    <div class="footer__block__music_title">Miyagi & Andy Panda: All the time</div>
                    <div class="footer__block__music_duration">4:34</div>
                </div>
                <div class="footer__block__music_block">
                    <div class="footer__block__music_container"></div>
                </div>
            </div>
            <div class="footer__block__info">
                <div class="footer__block__info_list">
                    <i class="fas fa-download"></i>
                    <i class="fas fa-heart"></i>
                    <i class="fas fa-random"></i>
                    <i class="fas fa-star"></i>
                </div>
            </div>
        </div>
    </div>

{% endblock %}